/* секция techniques*/
.techniques {
    display: flex;
    box-sizing: border-box;
    align-items: center;
    width: 80%;
    padding: 0 0 100px 0;
    margin: 0 auto;
    flex-direction: column;
  }